#myFooter {
	background-color: #373a48;
	color: white;
}

#myFooter .footer-copyright {
	background-color: #383737;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

#myFooter .footer-copyright p {
	margin: 10px;
	color: #ccc;
}

#myFooter ul {
	list-style-type: none;
	padding-left: 0;
	line-height: 1.7;
}

#myFooter h5 {
	font-size: 18px;
	color: white;
	font-weight: bold;
	margin-top: 30px;
}

#myFooter a {
	color: #d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus {
	text-decoration: none;
	color: white;
}

#myFooter .myCols {
	text-align: center;
}

#myFooter .social-networks {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 38px;
}

#myFooter .social-networks a {
	font-size: 32px;
	margin-right: 5px;
	margin-left: 5px;
	color: #f9f9f9;
	padding: 10px;
	transition: 0.2s;
}

#myFooter .social-networks a:hover {
	text-decoration: none;
}

#myFooter .facebook:hover {
	color: #0077e2;
}

#myFooter .google:hover {
	color: #ef1a1a;
}

#myFooter .twitter:hover {
	color: #00aced;
}

@media screen and (max-width: 767px) {
	#myFooter {
		text-align: center;
	}
}

/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */
html {
	height: 100% !important;
}

body {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	height: 100%;
}

.content {
	flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	min-height: 200px;
}

#myFooter {
	flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
}

th, td {
	text-align: center;
}

tbody button.btn {
	margin: 0 15px;
}

.alert-hide {
	display: none;
}

.panel-heading {
	padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#custom-search-input {
	padding: 3px;
	border: solid 1px #E4E4E4;
	border-radius: 6px;
	background-color: #fff;
}

#custom-search-input input {
	border: 0;
	box-shadow: none;
}

#custom-search-input button {
	margin: 2px 0 0 0;
	background: none;
	box-shadow: none;
	border: 0;
	color: #666666;
	padding: 0 8px 0 10px;
	border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
	border: 0;
	box-shadow: none;
	border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
	font-size: 23px;
}

.error-404 {
	margin: 0 auto;
	text-align: center;
	height: 500px;
}

.error-404 .error-code {
	bottom: 60%;
	color: #4686CC;
	font-size: 96px;
	line-height: 100px;
	font-weight: bold;
}

.error-404 .error-desc {
	font-size: 12px;
	color: #647788;
}

.error-404 .m-b-10 {
	margin-bottom: 10px !important;
}

.error-404 .m-b-20 {
	margin-bottom: 20px !important;
}

.error-404 .m-t-20 {
	margin-top: 20px !important;
}

input#dateOfBirth {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.div-table {
    max-height: 310px;
    min-height: 310px;
    height: 310px;
}

img#loading {
    position: absolute;
    top: 165px;
    right: 40%;
    width: 300px;
    height: 300px;
    z-index: 9999;
    display: none;
}

img#loading.active {
    display: block;
}